* {
	margin: 0;
	padding: 0;
	font-size: 9pt;
	font-family: Tahoma;
	color: gray;
}

a { text-decoration: none; }
a:hover {}
a:active {}

h1 {
	background-color: black;
	color: white;
}

h2, li {
}

hr {
/*	display: none;*/
}

div#mp3_div {
	width: 100%;
	text-align: center;
}

div#flv_div {
}

ul li {
	list-style-type: none;
}

ul#dir-list li a.dir-name {
}

div#buttons, div.fold {
}

div.fold a { padding: 0; }

