<!DOCTYPE html>
<html>
<head>
<title>Shuffle! (HTML5)</title>
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/html5player.css" />
</head>
<body>
<audio id="mediaplayer" preload="none"><!-- controls="controls"-->
Your browser does not suppoer the audio element.
</audio>
<div id="wrapper">
<div id="status">
	<span id="playing_status">[Not loaded]</span>
	<span id="time">0</span>
	<div id="playing_name"></div>
</div>
<div id="controls">
	<div id="progress" onmousedown="seek();"><div class="on"></div><div class="layer">PROGRESS</div></div>
	<div id="volume" onmousedown="changeVolumeMoving();"><div class="on"></div><div class="layer">VOLUME</div></div>
	<div id="buttons">
		<a href="#prev" onclick="prev();" id="bPrev" class="button"></a>
		<a href="#play" onclick="play();" id="bPlay" class="button"></a>
		<a href="#pause" onclick="pause();" id="bPause" class="button"></a>
		<a href="#stop" onclick="stop();" id="bStop" class="button"></a>
		<a href="#next" onclick="next();" id="bNext" class="button"></a>
		<a href="#loop" onclick="loop();" id="bLoop" class="button"></a>
		<a href="#shuffle" onclick="shuffle();" id="bShuf" class="button"></a>
	</div>
</div>
<p style="clear:both"></p>
</div>
<ul id="playlist"></ul>
<script type="text/javascript" src="script/jquery-latest.min.js"></script>
<script type="text/javascript" src="script/json2.js"></script>
<script type="text/javascript" src="script/keyDownHandler.js"></script>
<script type="text/javascript" src="script/HTML5AudioPlayer.js"></script>
<script type="text/javascript">
$(function(){
	$('#playing_status').click(function(){
		$.get('listing.xml.php?'+(new Date().getTime()),{},function(data,e,xhr){buildingList(xhr.responseXML);load();},'xml');
	}).css('cursor','pointer').click();

	$('#volume').mousedown(changeVolume);
});
</script>
</body>
</html>
