* {
	margin: 0;
	padding: 0;
	font-size: 9pt;
	font-family: Consolas, Verdana, Tahoma;
}

a { padding: 8px; color: #888; text-decoration: none; }
a:hover { background: #39d; color: #fff; }
a:active { position: relative; top: 1px; }

h1 {
	padding: 30px 10px;
	font-size: 25pt;
}

h2 {
	margin: 15px;
	font-size: 14pt;
}

hr {
	margin: 8px;
	color: #888;
/*	display: none;*/
}

#code {
	width: 800px;
	height: 200px;
	font-size: 9pt;
	white-space: nowrap;
}

div#mp3_div {
	width: 100%;
	text-align: center;
}

div#flv_div {
}

ul, div#current-path {
	margin: 18px;
	color: #888;
}

ul li {
	padding: 8px;
	list-style-type: none;
}

ul#controller {
	text-align: center;
}

ul#controller li {
	display: inline;
}

ul#dir-list li a.dir-name {
	font-size: 11pt;
}

div#buttons, div.fold {
	margin: 10px;
}

div.fold a { padding: 0; }

